{% extends 'base.html' %}
{% block title %} {{ block.super }} Questions {% endblock %}
{% block content %} {{ block.super }} 
    <nav>
        <ul class="pagination">
        {% for p in paginator.page_range %}
            {% if p == page.number %}
                {% for question in questions %}
                    <li class="active">
                    <p><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></p>
                {% endfor %}
            {% else %}
            <li>
            {% endif %}
            <a href="{{ paginator.baseurl }}{{ p }}"> {{ p }} </a>
            </li>
        {% endfor %}
        </ul>
    </nav>
{% endblock %}
